Repository Jooho/nfs-provisioner-operator: changes, and which Mergify rules are due for each by the changed paths.
All: label documentation changes, label code changes, label configuration changes

label documentation changes:
  label:
    add:
    - documentation

label code changes:
  label:
    add:
    - code

label configuration changes:
  label:
    add:
    - configuration

update README
  README.md
Due: label documentation changes

add check logic if there is scc crd on cluster for kind/kubernetes env. update nfs-provisioner image
  controllers/defaults/defaults.go
  controllers/resources/manager_test.go
  controllers/resources/scc.go
  go.mod
  go.sum
Due: label code changes

chore: add golangci-lint configuration and Makefile improvements
  .golangci.yml
  Makefile
  controllers/nfsprovisioner_controller.go
Due: label code changes, label configuration changes

feat(US1): implement pkg/validation and pkg/defaults modules
  pkg/defaults/defaults.go
  pkg/defaults/defaults_test.go
  pkg/validation/validator.go
  pkg/validation/validator_test.go
Due: label code changes

feat(US1): create pkg/builder module with resource construction functions
  pkg/builder/builder.go
  pkg/builder/namespace_builder.go
  pkg/builder/object_builder.go
  specs/001-production-refactor/tasks.md
Due: label documentation changes, label code changes

feat(US1): complete pkg/builder module with RBAC and SCC functions
  pkg/builder/builder.go
  specs/001-production-refactor/tasks.md
Due: label documentation changes, label code changes

refactor: migrate pkg/resources to use builder pattern
  pkg/resources/common.go
  pkg/resources/deployment.go
  pkg/resources/manager.go
  pkg/resources/manager_test.go
  pkg/resources/pvc.go
  pkg/resources/rbac.go
  pkg/resources/scc.go
  pkg/resources/service.go
  pkg/resources/serviceaccount.go
  pkg/resources/storageclass.go
Due: label code changes

feat: add field format validation to pkg/validation
  pkg/validation/validator.go
  pkg/validation/validator_test.go
Due: label code changes

feat: create pkg/reconciler module with dependency injection
  pkg/reconciler/reconciler.go
Due: label code changes

refactor: convert controller to thin wrapper delegating to pkg/reconciler
  cmd/main.go
  controllers/nfsprovisioner_controller.go
  pkg/reconciler/reconciler.go
Due: label code changes

docs: update README.md with modular architecture documentation
  README.md
Due: label documentation changes

feat: add status conditions, error handling, and upgrade NFS image to v4.0.8
  api/v1alpha1/nfsprovisioner_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/cache.jhouse.com_nfsprovisioners.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  pkg/builder/builder.go
  pkg/defaults/defaults.go
  pkg/defaults/defaults_test.go
  pkg/reconciler/conditions.go
  pkg/reconciler/reconciler.go
  pkg/resources/deployment.go
  pkg/resources/pvc.go
  pkg/resources/rbac.go
  pkg/resources/scc.go
  pkg/resources/service.go
  pkg/resources/serviceaccount.go
  pkg/resources/storageclass.go
  pkg/validation/validator_test.go
Due: label code changes, label configuration changes

test: add comprehensive unit tests for all pkg/ modules
  pkg/builder/builder_test.go
  pkg/reconciler/reconciler_test.go
  pkg/resources/deployment_test.go
  pkg/resources/helpers_test.go
  pkg/resources/manager_test.go
  pkg/resources/pvc_test.go
  pkg/resources/rbac_test.go
  pkg/resources/scc_test.go
  pkg/resources/service_test.go
  pkg/resources/storageclass_test.go
Due: label code changes

test: add envtest integration tests for full reconciliation lifecycle
  test/integration/integration_suite_test.go
  test/integration/reconcile_integration_test.go
  test/integration/scc_detection_test.go
Due: label code changes

test: add E2E tests with Kind and OpenShift support
  Makefile
  test/e2e/e2e_suite_test.go
  test/e2e/nfsprovisioner_e2e_test.go
Due: label code changes

docs: update documentation, bundle metadata, and task tracking
  CHANGELOG.md
  OWNERS
  README.md
  bundle/manifests/nfs-provisioner-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  docs/architecture.md
  docs/certification.md
  docs/makefile_playbook.md
  docs/test_script.md
  specs/001-production-refactor/tasks.md
Due: label documentation changes, label configuration changes

fix: resolve infinite reconcile loop, status conflicts, and code review issues
  Dockerfile
  bundle/manifests/cache.jhouse.com_nfsprovisioners.yaml
  bundle/manifests/nfs-provisioner-operator.clusterserviceversion.yaml
  cmd/main.go
  controllers/nfsprovisioner_controller.go
  pkg/builder/builder.go
  pkg/defaults/defaults.go
  pkg/reconciler/conditions.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Due: label code changes, label configuration changes

test: add scForNFSPvc E2E test using default StorageClass
  test/e2e/nfsprovisioner_e2e_test.go
Due: label code changes

feat: use cluster default StorageClass when no storage option is set
  pkg/builder/builder.go
  pkg/validation/validator.go
  pkg/validation/validator_test.go
Due: label code changes

docs: add quickstart guide, update docs for all storage modes
  README.md
  config/samples/cache_v1alpha1_nfsprovisioner_default_sc.yaml
  docs/makefile_playbook.md
  docs/quickstart.md
  docs/test_script.md
Due: label documentation changes, label configuration changes

chore: remove unused builder files and update .gitignore
  .gitignore
  pkg/builder/namespace_builder.go
  pkg/builder/object_builder.go
Due: label code changes

docs: add operational scripts guide for hack/scripts workflows
  docs/operational_scripts.md
Due: label documentation changes

feat: migrate to File-Based Catalog (FBC) for OLM
  bundle/manifests/nfs-provisioner-operator.clusterserviceversion.yaml
  catalog.Dockerfile
  catalog/nfs-provisioner-operator/channel.yaml
  catalog/nfs-provisioner-operator/package.yaml
  catalog/nfs-provisioner-operator/v0.0.8.yaml
  catalog/nfs-provisioner-operator/v0.0.9.yaml
Due: label configuration changes

feat: add operator-release skill for automated release pipeline
  .claude/skills/operator-release.md
Due: label documentation changes

feat: add operator-verify skill for full verification pipeline
  .claude/skills/operator-verify.md
Due: label documentation changes

docs: add developer workflow guide for skills and release process
  docs/developer_workflow.md
Due: label documentation changes

fix: correct image references in README and makefile_playbook
  README.md
  docs/makefile_playbook.md
Due: label documentation changes

docs: simplify README, move details to dedicated docs
  README.md
Due: label documentation changes

feat: add precommit Makefile target (vet + lint + unit tests)
  .golangci.yml
  Makefile
  cmd/main.go
  controllers/nfsprovisioner_controller.go
  pkg/resources/deployment.go
  pkg/resources/manager.go
  pkg/resources/pvc.go
  pkg/resources/rbac.go
  pkg/resources/scc.go
  pkg/resources/service.go
  pkg/resources/serviceaccount.go
  pkg/resources/storageclass.go
  test/e2e/e2e_suite_test.go
  test/e2e/nfsprovisioner_e2e_test.go
  test/integration/integration_suite_test.go
  test/integration/scc_detection_test.go
Due: label code changes, label configuration changes

docs: update operator-release skill with FBC workflow for community-operators-prod
  .claude/skills/operator-release.md
Due: label documentation changes

fix: remove hardcoded NFS image from E2E tests, use operator defaults
  .github/workflows/e2e.yaml
  test/e2e/nfsprovisioner_e2e_test.go
Due: label code changes, label configuration changes

release: v0.0.9
  bundle/manifests/cache.jhouse.com_nfsprovisioners.yaml
  bundle/manifests/nfs-provisioner-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/crd/bases/cache.jhouse.com_nfsprovisioners.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/nfs-provisioner-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  env
  env.sh
Due: label configuration changes

feat: add agentic release pipeline
  .claude/skills/operator-release.md
  Makefile
  hack/release/bump-version.sh
  hack/release/validate-release.sh
  specs/002-agentic-release/checklists/requirements.md
  specs/002-agentic-release/data-model.md
  specs/002-agentic-release/plan.md
  specs/002-agentic-release/quickstart.md
  specs/002-agentic-release/research.md
  specs/002-agentic-release/spec.md
  specs/002-agentic-release/tasks.md
Due: label documentation changes

docs: update release/verify skills with local registry and opm render learnings
  .claude/skills/operator-release.md
  .claude/skills/operator-verify.md
Due: label documentation changes

docs: add release process documentation
  docs/release.md
Due: label documentation changes

feat: add mountOptions support to NFSProvisioner CRD
  .claude/settings.local.json
  api/v1alpha1/nfsprovisioner_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/nfs-provisioner-operator.clusterserviceversion.yaml
  config/crd/bases/cache.jhouse.com_nfsprovisioners.yaml
  config/samples/cache_v1alpha1_nfsprovisioner.yaml
  pkg/builder/builder.go
Due: label code changes, label configuration changes

Path conditions:
  label documentation changes: any of: \.(md|rst|txt)$
  label code changes: any of: \.(go|py|js|ts|java|cpp|c|rs)$
  label configuration changes: any of: \.(yml|yaml|json|toml|cfg|conf)$
